.show-title {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500;
}

.show-subtitle {
    font-size: 14px;
}

.show-reviews-total {
    text-decoration: underline;
}

.show-location {
    text-decoration: underline;
}

.show-container {
    margin: 20px 60px 20px 60px;
}

.show-images-container {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 20px 0px 20px 0px;
}

.show-images-left {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.image-wrapper-left {
    max-width: 100%;
    height: auto;
}

.listing-image-left {
    width: calc(100vw - 60px);
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: fill;
}

.show-images-right {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.listing-image-right {
    box-sizing: border-box;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-wrapper-left:hover, .image-wrapper-right:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.image-wrapper-right:nth-child(2) img {
    border-top-right-radius: 10px;
}

.image-wrapper-right:nth-child(4) img {
    border-bottom-right-radius: 10px;
}

.show-description {
    width: 50%;
}