.types-bar {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    margin-top: 20px;
    overflow-x: auto;
    white-space: nowrap;
}

.types-bar::-webkit-scrollbar {
    display: none;
}

.types-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.types-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* margin-right: auto;
    margin-left: auto; */
    gap: 5px;
    opacity: 0.5;
    transition: opacity 0.2s, color 0.2s, border-bottom 0.2s;
    border-bottom: 2px solid transparent;
}

.types-item:hover {
    color: black;
    opacity: 1;
    border-bottom: 2px solid rgba(201, 200, 200, 0.934);
}

.types-image {
    width: 30px;
}

.types-name {
    font-size: 14px;
}

.types-item .active {
    opacity: 1;
    border-bottom: 2px solid black;
}

@media (max-width: 800px) {
    .types-bar {
        white-space: normal;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}