.modal-background {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(10, 10, 10, 0.3);
    z-index: 1;
}

.modal-content {
    position: absolute;
    /* top: calc(50vh - (height/2)); */
    left: calc(50vw - 250px);
    top: calc(100vh/6);
    /* left: calc(100vh/2); */
    height: auto;
    box-sizing: border-box;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    z-index:2;
}

.modal-header {
    padding: 5px 15px 20px 10px;
    margin-left:5px;
    text-align: center;
    font-weight: 500;
    width: 93.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border-bottom: 1px solid lightgray; */
}

.modal-welcome {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header {
    display:flex;
    border-bottom: 1px solid lightgray;
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    vertical-align: middle;
    background-color: white;
    border: none;
    border-radius: 50%;
}

.close-button:hover {
    background-color: rgb(240, 240, 240);
}

.first-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.input-wrapper {
    position:relative;
}

.user-input {
    padding: 20px 10px 20px 10px;
    font-size: 15px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 10px;
    transition: padding-top 0.2s, transform 0,2s
}

.user-input + label {
    position:absolute;
    top: 10px;
    left: 10px;
    color: #777;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none
}

.user-input:focus + label {
    opacity: 1;
    top: 8px;
    left: 10px;
    font-size: 12px;
    color: #555;
}

.user-input:focus, .user-input:not(:placeholder-shown) {
    padding-top: 25px;
    padding-bottom: 15px;
}

.user-input:not(:placeholder-shown) + label {
    opacity: 1;
    top: 8px;
    left: 10px;
    font-size: 12px
}

/* .first-name {
    margin-top: 15px;
    margin-bottom: 0px;
} */
/* .last-name {
    margin-top: -20px;
} */
/* .email-input {
    margin-top: 10px;
    margin-bottom: 0px;
}
.password-input {
    margin-top: 10px;
    margin-bottom: 10px;
} */
.user-button {
    /* https://codepen.io/Nkzq/pen/powOGze used for button gradient set up*/
    border: 1px solid lightgray;
    color: white;
    font-size: medium;
    border-radius: 10px;
    padding: 15px;
    width: 460px;
    height: 50.5px;
    --mouse-x: 50;
    --mouse-y: 50;
    background-size: 200% 200%;
    background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
    background-image: radial-gradient(circle, #ff385c 0%, #e61e4d 27.5%,#e31c5f 40%,#d70466 57.5%,#bd1e59 75%,#bd1e59 100%); 
    /* borrowed 0% color from previous project Nextbnb. Rest of gradient taken from Airbnb*/
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
    align-self: center;
}

.user-form-desc {
    font-size: small;
    color: lightgray;
    margin-top: -15px;
    margin-bottom: 10px;
}

.user-form-terms {
    text-align: justify;
    font-size: small;
    color: black;
    margin-top: -15px;
    margin-bottom: 5px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: -15px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.fa-circle-exclamation {
    font-size: 12px;
    padding-right: 5px;
}