.reservations-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 20px;
}

.trip-title {
    font-size: 24px;
    font-weight: 300;
}

.current-trip > .reservations-index{
    justify-content: flex-start;
}