.review-item-container {
    width: 48%;
    display: flex;
    flex-direction: column;
    padding: 20px 0px
}

.guest-container {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.guest-icon {
    color: rgb(255, 56, 92);
    font-size: 50px;
}

.guest-name {
    /* font-size: 20px; */
    font-weight: 600;
    padding: 10px 0px 0px 0px;
    color: #484848;

}

.guest-rating {
    font-size: 14px;
    color:#717171;
}

.guest-review {
    font-weight: 300;
    line-height: 25px;
}