.profile-container {
    margin: 10px 40px;
}

.profile-reviews-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.profile-review {
    width: 48%;
    gap: 10px;
    box-sizing: border-box;
}

.profile-review-content {
    width: 100%
}